@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.section_img_background{
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('/assets/images/homepage/fondo.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #fff;
}

.section_doodle{
  background: url('/assets/images/homepage/doodle.svg');
  background-color: #F2F2F2;
  background-position: center center;
  background-repeat: no-repeat;
}

.normal_section{
  @apply flex flex-col items-center justify-start w-full lg:px-40 px-10;
}

.maintitle{
  @apply lg:text-6xl text-5xl font-anton text-center uppercase w-2/3 text-black;
}

.tittle{
  @apply text-center lg:w-1/4 lg:text-4xl text-2xl font-bold font-anton uppercase;
}

.tittle_anton{
  @apply  lg:w-1/2 lg:text-4xl text-2xl font-bold font-anton uppercase;
}

.tittle_v2{
  @apply text-center text-2xl font-montserrat uppercase tracking-widest;
}

.tittle_v3{
  @apply text-2xl tracking-wider font-montserrat uppercase;
}

.subtitle{
  @apply text-xl font-montserrat  text-center;
}

.subtitle_mid{
  @apply text-lg font-montserrat;
}

.small_subtitle{
  @apply lg:text-lg text-sm font-montserrat;
}

.mont{
  @apply font-montserrat;
}

.flex_center{
  @apply flex items-center justify-center lg:flex-row flex-col ;
}

.flex_center_v2{
  @apply flex lg:flex-row flex-col ;
}

.anton{
  @apply font-anton;
}

.liststyle{
  @apply list-disc subtitle_mid text-lg  font-medium text-start text-black;
}

.gridFlex{
  @apply flex flex-col gap-4 py-10;
}

.timeline-vertical > li > hr {
  width: 2px !important;
}

.link_text{
  @apply text-lg font-montserrat underline text-black font-medium;
}


/* contact */
.input_contact{
  @apply w-full h-12 border-2 border-white px-4 bg-transparent text-white mont focus:outline-none rounded-none;
}

.input_contactv2{
  @apply w-full h-12 border-2 border-black px-4 bg-transparent text-black mont focus:outline-none rounded-none;
}

.btn_contact{
  @apply text-white mont btn border-2 border-white w-full mt-10 hover:bg-white hover:text-black rounded-none;
}